.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #626262;
    font-size: 18px;
    border-radius: 40px;
    padding-left: 25px;
    /*padding: 10px 10px;*/
}
.search-bar img{
    width: 50px;
    cursor: pointer;
    background: #ebfffc;
    padding: 15px;
    border-radius: 50%;
}
.weathericon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    font-size: 64px;
    font-weight: 450;
    color: #ffffff;
    line-height: 1;
}
.location{
    font-size: 35px;
    font-weight: 450;
    color: #ffffff;
    margin-top: 13px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.weather-data .data{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}
.weather-data .data img{
    width: 26px;
    margin-top: 10px;
}
.weather-data .data span{
    font-size: 16px;
    display: block;
}
